.forgotpassword-container {
    display: flex;
    min-height: 600px;
    background-color: var(--neutral-color);
    color: var(--text-color);
  }
  
  .forgotpassword-form,
  .forgotpassword-image {
    width: 50%;
  }
  
  .forgotpassword-form {
    padding: 40px;
    max-width: 350px;
    margin:  auto;
  }
  
  .forgotpassword-header {
    text-align: left;
    margin-bottom: 20px;
  }
  
  .forgotpassword-header h1 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: var(--primary-color);
  }
  
  .forgotpassword-header p {
    color: var(--text-color);
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: var(--text-color);
  }
  
  input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
  }
  
  .btn-primary {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--neutral-color);
    margin-bottom: 10px;
  }
  
  .btn-primary:hover {
    opacity: 0.9;
  }
  
  .signin-prompt {
    text-align: center;
    margin-top: 20px;
  }
  
  .signin-prompt a {
    color: var(--accent-color);
    text-decoration: none;
  }
  
  .signin-prompt a:hover {
    text-decoration: underline;
  }
  
  .forgotpassword-image {
    background: #f0f0f0;
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .forgotpassword-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  