.total-balance-box {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #ffffff; /* or any other background color */
  border: 1px solid #e0e0e0; /* Light border for visual separation */
  border-radius: 8px; /* Rounded corners */
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.chart-container {
  flex: 0 0 auto;
  margin-right: 20px;
}

.details {
  flex: 1;
}

.total-banks {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  color: #333; /* Dark text color for visibility */
}

.balance-info {
  margin-top: 10px;
}

.balance-label {
  font-size: 14px;
  color: #666; /* Slightly lighter text color for label */
}

.balance-amount {
  font-size: 24px;
  font-weight: bold;
  color: #00c853; /* Primary color for balance amount */
}

.add-bank {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #f1f1f1; /* Background color for the button */
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 14px;
  color: #006d32; /* Primary color for text */
  cursor: pointer;
  display: flex;
  align-items: center;
}

.plus-icon {
  margin-left: 5px;
  font-size: 18px;
  font-weight: bold;
  color: #00c853; /* Color of the plus icon */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .total-balance-box {
    flex-direction: column;
    align-items: flex-start;
  }

  .chart-container {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .add-bank {
    top: 5px;
    right: 5px;
  }
}