/* sidebar.css */

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 250px;
  background:linear-gradient(135deg, #006d32, #00c853);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;
  z-index: 1000;
}

.sidebar-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.company-logo {
  height: 40px;
  margin-right: 10px;
}

.sidebar-content {
  flex-grow: 1;
}

.search-bar {
  width: 220px;
  position: relative
}

.search-icon {
  position: absolute;
  right: 10px;
  margin-bottom: auto;
  top: calc(50% + 5px);
  color: #000;
  transform: translateY(calc(-50% - 5px));
}

.search-input {
  width: 100%;
  height: 40px;
  padding: 10px;
  transition: .2s linear;
  border: 2.5px solid black;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.search-icon {
  animation: anim 1s linear infinite;
}

@keyframes anim {
  0%,
  100% {
    transform: translateY(calc(-50% - 5px)) scale(1);
  }

  50% {
    transform: translateY(calc(-50% - 5px)) scale(1.1);
  }
}

.nav-item {
  display: flex;
  align-items: center;
  color: #ffffff;
  text-decoration: none;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  transition: background 0.3s;
}

.nav-item:hover,
.nav-item:focus,
.nav-item:active {
  background: #006d32;
}

.topic {
  margin-left: 10px;
}

.sidebar-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-details {
  display: flex;
  flex-direction: column;
}

.user-name,
.user-email {
  color: #ffffff;
}

.logout-button {
  background: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.logout-button:hover {
  color: #05bb9a;
}
